.content {
  &__text {

    &--center {
      text-align: center;
    }

    &--centered {
      display: flex;
      flex: 1;
      flex-direction: column;
      /*border: 3px solid red;*/
      justify-content: center;
      align-items: center;

        > * {
        flex: 1;
        color: white;
      }
    }

    &--yellow {
      color: yellow;
    }

    &--white {
      color: white;
    }

    &--blue {
      color: lightblue;
    }

    &--bold {
      font-weight: bold;
      text-transform: uppercase;
    }

    &--light {
      font-weight: lighter;
      line-height: 1.4
    }

    &--italic {
      font-style: italic;
    }

    &--extra-large {
      font-size: 125px;
    }

    &--large {
      font-size: 60px;
    }

    &--medium {
      font-size: 40px;
    }

    &--small {
      font-size: 30px;
    }
  }

  &__left {

    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    > * {
      margin: 0;
    }

    &--2 {
      flex: 1.2;
    }

    &--yellow {
      background: yellow;
      text-align: right;
    }
  }

  &__right {
    flex: 1.4;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: .85;

    > * {
      margin: 0;
    }

    &--1 {
      flex: 1;
      justify-content: center;
    }
  }



  &__padding-left {

    &--sm {
      padding-left: 70px;
    }

    &--md {
      padding-left: 120px;
    }

    &--lg {
      padding-left: 160px;
    }
  }

  &__padding-right {

    &--sm {
      padding-right: 70px;
    }

    &--md {
      padding-right: 120px;
    }

    &--lg {
      padding-right: 160px;
    }

    &--xl {
      padding-right: 200px;
    }
  }

}
