.flexnav {
  position: fixed;
  display: flex;
  width: 100%;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-right {
    display: flex;
    flex: 1;
}

  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;

    li {
      padding: 10px 20px;
    }
  }



}
